---
import BaseLayout from "../layouts/BaseLayout.astro";

const identity = {
	firstName: "mierla",
	country: "USA",
	occupation: "Web Developer",
	hobbies: ["making stuff", "reading", "learning new things"],
};

const skills = ["HTML", "CSS", "JavaScript", "Craft CMS", "PHP", "Astro"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle="About Me">

	<style is:global define:vars={{skillColor, fontWeight, textCase}}>
		.skill {
			color: var(--skillColor);
			font-weight: var(--fontWeight);
			text-transform: var(--textCase);
		}

	</style>

		<h2>...and my new Astro site!</h2>

		<p>
			Welcome to my Astro site! I'm a web developer who loves to build fast, modern websites. I'm excited to use Astro to build my new site, and I can't wait to see what I can create with it.
		</p>

		<p>Here are a few facts about me:</p>
		<ul>
			<li>My name is {identity.firstName}.</li>
			<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
			{identity.hobbies.length >= 2 && 
				<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
			}
		</ul>
		<p>My skills are:</p>
		<ul>
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>

		{happy && <p>I am happy to be learning Astro!</p>}

		{finished && <p>I have finished this tutorial!</p>}

		{goal === 3 ? <p>My goal is to finish in three days.</p> : <p>My goal is not three days.</p>}

	</BaseLayout>